{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}All Meetups {% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}we got new meetups{% endblock %}

{% block header_content %}find the best suits{% endblock %}
    
{% block body %}

<section>
    <h2>Upcomming meetups</h2>
    <ol>
        {% for item in meetups %}
            {% include 'meetups/includes/meetup-item.html' with title=item.title location='colombo' slug=item.slug%}
        {% endfor %}
    </ol>
</section>

{% endblock %}
